*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
    background: white;
    color: black;
}

@media screen and (max-width: 1024px){
    div.ftrd{
        margin: 10px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 905px) {
    div.category{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 500px) {
    div.name{
        display: none;
    }
}

hr{
    border: 0.01px solid black;
}

.hr1{
    width: 90vw;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

.fave{
    display: flex;
    justify-content: space-between;
}

.title{
    padding: 20px 20px 0px 20px;
    font-size: 1rem + 1vw;
}

.link{
    padding: 25px 20px 0px 0px;
}

.category{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.cardz{
    background-image: url(./13.jpg);
    background-size: cover;
    width: 300px;
    margin: 20px;
    padding: 30px;
    text-align: center;
    height: 100px;
    box-shadow: 0 4px 8px 0 rgba(87, 64, 64, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #e6e6e6;
    border-radius: 10px;
}

.cardz:hover{
    opacity: .9;
}

.cards1, .rcnts{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    margin-right: 10px;
}

.ftrd{
    width: 150px;
    height: 170px;
    margin-bottom: 20px;
    margin-right: 5px;
}

.ftrd img{
    width: 170px;
    height: 170px;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(87, 64, 64, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .2s;
    border-radius: 10px;
}

.ftrd:hover{
    opacity: 0.9;
    transform: scale(1.05);
}

.img1{
    background: url(./1.jpg);
    width: 300px;
    height: 300px;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(87, 64, 64, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img2{
    background: url(./2.jpg);
    width: 300px;
    height: 300px;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(87, 64, 64, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img3{
    background: url(./3.jpg);
    width: 300px;
    height: 300px;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(87, 64, 64, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img4{
    background: url(./4.jpg);
    width: 300px;
    height: 300px;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(87, 64, 64, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img5{
    background: url(./5.jpg);
    width: 300px;
    height: 300px;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(87, 64, 64, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img6{
    background: url(./6.jpg);
    width: 300px;
    height: 300px;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(87, 64, 64, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.memories{
    margin-top: 50px;
}

.memory1{
    text-align: center;
    padding: 20px;
}

.memory2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.memory2 div{
    text-align: center;
    padding-top: 150px;
    isolation: isolate;
    position: relative;
    color: white;
    margin: 20px;
    transition: 1s ease-in-out;
    border-radius: 10px;
    overflow: hidden;
}

.memory2 div:hover{
    transform: scale(1.1);
}

.card::before{
    content: '';
    position: absolute;
    background: linear-gradient(
        rgb(0 0 0 / .9),
        rgb(0 0 0 / 0)
    );
    z-index: -1;
    inset: 0;
}

.years{
    height: 100%;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.nav{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

#icon{
    height: 35px;
    padding-left: 20px;
    padding-top: 15px;
}

.dropdown{
    padding-top: 20px;
    padding-right: 20px
}

#acc{
    height: 25px;
}

.c{
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
}

#linkk{
    color: black;
}

.name{
    padding: 10px 0px 10px 0px;
}

h1{
    font-size: 1.5em;
}